body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}
