body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: #111111;
}

h1,
h2,
h3,
h4,
p,
blockquote,
dd {
  margin: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  padding-inline-start: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

img[src$=".jpg"] {
  border-radius: 4px;
}
