.bicicleta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: start;
  padding-top: 60px;
  padding-bottom: 60px;
}

#bicicleta .titulo p {
  text-transform: uppercase;
}

.bicicleta-imagem {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.bicicleta-imagem img {
  flex: 1;
  min-width: 200px;
}

.bicicleta-imagem img:first-child {
  min-width: 100%;
}

.bicicleta-conteudo > p {
  margin-bottom: 32px;
}

.bicicleta-comprar {
  display: flex;
  align-items: center;
  gap: 8px 12px;
  margin-bottom: 32px;
}

.bicicleta-comprar a {
  display: block;
}

.bicicleta-comprar ul {
  display: grid;
  grid-template-columns: auto auto;
  gap: 12px;
}

.bicicleta-comprar li {
  display: flex;
  gap: 8px;
  background-color: var(--cor-12);
  border-radius: 4px;
}

.bicicleta-comprar li:first-child {
  grid-column: 1/-1;
}

.bicicleta-conteudo h2 {
  text-transform: uppercase;
  letter-spacing: 0.015em;
  margin-bottom: 12px;
}

.bicicleta-informacoes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  background-color: var(--cor-12);
  padding: 32px;
  border-radius: 4px;
  margin-bottom: 32px;
}

.bicicleta-informacoes h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.bicicleta-ficha {
  background-color: var(--cor-12);
  padding: 32px;
}

.bicicleta-ficha li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--cor-11);
}

.bicicleta-ficha li:last-child {
  border-bottom: none;
}

.bicicleta-ficha li + li {
  padding-top: 5px;
}

.bicicleta-ficha p {
  color: var(--cor-6);
}

@media (max-width: 800px) {
  .bicicleta {
    grid-template-columns: 1fr;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .bicicleta-imagem {
    grid-row: 2;
  }
}

@media (max-width: 400px) {
  .bicicleta-informacoes {
    grid-template-columns: 1fr;
  }
  .bicicleta-comprar {
    display: grid;
    grid-template-columns: 1fr;
  }
  .bicicleta-comprar li {
    place-self: start;
  }
}
